.l, .Unowned, .Independent	{fill:#FFFFDD; stroke:black; stroke-linejoin:round}
.w				{fill:#99CCFF; stroke:black; stroke-linejoin:round}
.s				{fill:#DDDDDD; stroke:black; stroke-linejoin:round}

text				{font-family:Arial,Helvetica,sans-serif; font-size:8px}

#MapLayer .Austria		{fill:#FF0000; stroke:black}
#MapLayer .England		{fill:#0000FF; stroke:black}
#MapLayer .France 		{fill:#00FFFF; stroke:black}
#MapLayer .Germany		{fill:#808080; stroke:black}
#MapLayer .Italy  		{fill:#00FF00; stroke:black}
#MapLayer .Russia 		{fill:#008000; stroke:black}
#MapLayer .Turkey 		{fill:#FFFF00; stroke:black}

#ForcesLayer #Austria * 	{fill:#FF0000; stroke:black}
#ForcesLayer #England * 	{fill:#0000FF; stroke:black}
#ForcesLayer #France *  	{fill:#00FFFF; stroke:black}
#ForcesLayer #Germany * 	{fill:#808080; stroke:black}
#ForcesLayer #Italy *   	{fill:#00FF00; stroke:black}
#ForcesLayer #Russia *  	{fill:#008000; stroke:black}
#ForcesLayer #Turkey *  	{fill:#FFFF00; stroke:black}

#ForcesLayer #Austria ordering:hover 	{fill:#FF1010; stroke:black}
#ForcesLayer #England ordering:hover 	{fill:#1010FF; stroke:black}
#ForcesLayer #France ordering:hover  	{fill:#10FFFF; stroke:black}
#ForcesLayer #Germany ordering:hover 	{fill:#909090; stroke:black}
#ForcesLayer #Italy ordering:hover   	{fill:#10FF10; stroke:black}
#ForcesLayer #Russia ordering:hover  	{fill:#108010; stroke:black}
#ForcesLayer #Turkey ordering:hover  	{fill:#FFFF10; stroke:black}

#OrdersLayer .order {fill:none; stroke:black; stroke-width:3; marker-end:url(#arrow)}
#OrdersLayer .order.fail {marker-mid:url(#

.message.Austria		{color:#FF0000}
.message.England		{color:#0000FF}
.message.France 		{color:#00FFFF}
.message.Germany		{color:#808080}
.message.Italy  		{color:#00FF00}
.message.Russia 		{color:#008000}
.message.Turkey 		{color:#FFFF00}

