// Colors
$neutral-color: #ffd; // already faded for area-fill.

$austria-color: #f00;
$england-color: #00f;
$france-color: #0ff;
$germany-color: #444;
$italy-color: #0f0;
$russia-color: #fff;
$turkey-color: #ff0;
$area-fill-lighten: 30%;

.sc, .l	{
  fill: $neutral-color;
  stroke: black;
  stroke-linejoin: round;
}
.w				{fill:#9cf; stroke:black; stroke-linejoin:round}
.s				{fill:#fff; stroke:black; stroke-linejoin:round}



text {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 8px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: default;
}

#MapLayer {
  &.accepting g:hover, .accepting:hover {
    .l {fill:#BADA55;}
    .w {fill:#BAAADA;}
  }
}

#SupplyCentersLayer .accepting .sc:hover 	{fill:#BADA55;}
#SupplyCentersLayer .sc.accepting:hover 	{fill:#BADA55;}

#SupplyCentersLayer .sc.selected {stroke-width:2;}

.sc, .unit {
  opacity: .7;
  stroke: black;
}
.unit {
  &.Austria   {fill: $austria-color;}
  &.England   {fill: $england-color;}
  &.France    {fill: $france-color;}
  &.Germany   {fill: $germany-color;}
  &.Italy     {fill: $italy-color;}
  &.Russia    {fill: $russia-color;}
  &.Turkey    {fill: $turkey-color;}

  &.selected {stroke-width:2;}
}

g[data-owner='Austria'] {
  .sc { fill: $austria-color; }
  polygon, polyline { fill: lighten($austria-color, $area-fill-lighten); }
}
g[data-owner='England'] {
  .sc { fill: $england-color; }
  polygon, polyline { fill: lighten($england-color, $area-fill-lighten); }
}
g[data-owner='France'] {
  .sc { fill: $france-color; }
  polygon, polyline { fill: lighten($france-color, $area-fill-lighten); }
}
g[data-owner='Germany'] {
  .sc { fill: $germany-color; }
  polygon, polyline { fill: lighten($germany-color, $area-fill-lighten); }
}
g[data-owner='Italy'] {
  .sc { fill: $italy-color; }
  polygon, polyline { fill: lighten($italy-color, $area-fill-lighten); }
}
g[data-owner='Russia'] {
  .sc { fill: $russia-color; }
  polygon, polyline { fill: darken($russia-color, 18%); }
}
g[data-owner='Turkey'] {
  .sc { fill: $turkey-color; }
  polygon, polyline { fill: lighten($turkey-color, $area-fill-lighten); }
}

#ForcesLayer .force.selected 	{stroke-width:2}

#ForcesLayer.accepting .force:hover 	{stroke:gray}

#OrdersLayer .order.move {fill:none; stroke:black; stroke-width:3; marker-end:url(#move)}
#OrdersLayer .order.support {fill:none; stroke:green; stroke-width:3; marker-end:url(#support)}
#OrdersLayer .order.convoy {fill:none; stroke:blue; stroke-width:3; marker-end:url(#convoy)}
#OrdersLayer .order.hold {fill:none; stroke:black; stroke-width:3; marker-end:url(#hold)}
#OrdersLayer .order.fail {marker-mid:url(#fail)}

#OrdersLayer .Austria .force 	{ fill: $austria-color; stroke:black; opacity:.5; }
#OrdersLayer .England .force 	{ fill: $england-color; stroke:black; opacity:.5; }
#OrdersLayer .France .force  	{ fill: $france-color; stroke:black; opacity:.5; }
#OrdersLayer .Germany .force 	{ fill: $germany-color; stroke:black; opacity:.5; }
#OrdersLayer .Italy .force   	{ fill: $italy-color; stroke:black; opacity:.5; }
#OrdersLayer .Russia .force  	{ fill: $russia-color; stroke:black; opacity:.5; }
#OrdersLayer .Turkey .force  	{ fill: $turkey-color; stroke:black; opacity:.5; }

.message.Austria    { color: $austria-color }
.message.England    { color: $england-color; }
.message.France     { color: $france-color; }
.message.Germany    { color: $germany-color; }
.message.Italy      { color: $italy-color; }
.message.Russia     { color: $russia-color; }
.message.Turkey     { color: $turkey-color; }
