// bower:scss
// endbower

.l, .Unowned, .Independent	{fill:#FFFFDD; stroke:black; stroke-linejoin:round}
.w				{fill:#99CCFF; stroke:black; stroke-linejoin:round}
.s				{fill:#DDDDDD; stroke:black; stroke-linejoin:round}

text {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 8px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#MapLayer.accepting .l:hover	{fill:#BADA55;}
#MapLayer.accepting .w:hover	{fill:#BAAADA;}

#SupplyCentersLayer .Austria		{fill:#FF0000; stroke:black}
#SupplyCentersLayer .England		{fill:#0000FF; stroke:black}
#SupplyCentersLayer .France 		{fill:#00FFFF; stroke:black}
#SupplyCentersLayer .Germany		{fill:#808080; stroke:black}
#SupplyCentersLayer .Italy  		{fill:#00FF00; stroke:black}
#SupplyCentersLayer .Russia 		{fill:#008000; stroke:black}
#SupplyCentersLayer .Turkey 		{fill:#FFFF00; stroke:black}

#SupplyCentersLayer .accepting .sc:hover {fill:#BADA55;}

#SupplyCentersLayer .sc.selected {stroke-width:2;}

#ForcesLayer .Austria .force 	{fill:#FF0000; stroke:black}
#ForcesLayer .England .force 	{fill:#0000FF; stroke:black}
#ForcesLayer .France .force  	{fill:#00FFFF; stroke:black}
#ForcesLayer .Germany .force 	{fill:#808080; stroke:black}
#ForcesLayer .Italy .force   	{fill:#00FF00; stroke:black}
#ForcesLayer .Russia .force  	{fill:#008000; stroke:black}
#ForcesLayer .Turkey .force  	{fill:#FFFF00; stroke:black}

#ForcesLayer .force.selected 	{stroke-width:2}

#ForcesLayer.accepting .force:hover 	{stroke:gray}

#OrdersLayer .order.move {fill:none; stroke:black; stroke-width:3; marker-end:url(#move)}
#OrdersLayer .order.support {fill:none; stroke:green; stroke-width:3; marker-end:url(#support)}
#OrdersLayer .order.convoy {fill:none; stroke:blue; stroke-width:3; marker-end:url(#convoy)}
#OrdersLayer .order.hold {fill:none; stroke:black; stroke-width:3; marker-end:url(#hold)}
#OrdersLayer .order.fail {marker-mid:url(#fail)}

#OrdersLayer .Austria .force 	{fill:#FF0000; stroke:black; opacity:.5}
#OrdersLayer .England .force 	{fill:#0000FF; stroke:black; opacity:.5}
#OrdersLayer .France .force  	{fill:#00FFFF; stroke:black; opacity:.5}
#OrdersLayer .Germany .force 	{fill:#808080; stroke:black; opacity:.5}
#OrdersLayer .Italy .force   	{fill:#00FF00; stroke:black; opacity:.5}
#OrdersLayer .Russia .force  	{fill:#008000; stroke:black; opacity:.5}
#OrdersLayer .Turkey .force  	{fill:#FFFF00; stroke:black; opacity:.5}

.message.Austria		{color:#FF0000}
.message.England		{color:#0000FF}
.message.France 		{color:#00FFFF}
.message.Germany		{color:#808080}
.message.Italy  		{color:#00FF00}
.message.Russia 		{color:#008000}
.message.Turkey 		{color:#FFFF00}
