// Colors
$water-color: #007fff;
$neutral-land-color: #c59d66;
$impassable-color: #fff;

$austria-color: #f00;
$england-color: #00f;
$france-color: #0ff;
$germany-color: #444;
$italy-color: #0f0;
$russia-color: #fff;
$turkey-color: #ff0;
$area-fill-lighten: 30%;

text {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 8px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: default;
}

.sc, .l, .w, .s {
  stroke: black;
  stroke-linejoin: round;
}
.sc, .l	{
  fill: lighten($neutral-land-color, $area-fill-lighten);
}
.w				{ fill: lighten($water-color, $area-fill-lighten); }
.s				{ fill: $impassable-color; }

.sc, .unit {
  opacity: .7;
  stroke: black;
  &.selected {stroke-width:2;}
}

.province.actionable.hover {
  .unit { opacity: 1; }
  .l {
    fill: $neutral-land-color;
  }
  .w {
    fill: $water-color;
  }
}

[data-owner='Austria'] {
  &.sc, &.unit { fill: $austria-color; }
  & .l { fill: lighten($austria-color, $area-fill-lighten); }
  &.province.actionable.hover, {
    .l { fill: lighten($austria-color, $area-fill-lighten / 3); }
  }
}
[data-owner='England'] {
  &.sc, &.unit { fill: $england-color; }
  & .l { fill: lighten($england-color, $area-fill-lighten); }
  &.province.actionable.hover, {
    .l { fill: lighten($england-color, $area-fill-lighten / 3); }
  }
}
[data-owner='France'] {
  &.sc, &.unit { fill: $france-color; }
  & .l { fill: lighten($france-color, $area-fill-lighten); }
  &.province.actionable.hover, {
    .l { fill: lighten($france-color, $area-fill-lighten / 3); }
  }
}
[data-owner='Germany'] {
  &.sc, &.unit { fill: $germany-color; }
  & .l { fill: lighten($germany-color, $area-fill-lighten); }
  &.province.actionable.hover, {
    .l { fill: lighten($germany-color, $area-fill-lighten / 3); }
  }
}
[data-owner='Italy'] {
  &.sc, &.unit { fill: $italy-color; }
  & .l { fill: lighten($italy-color, $area-fill-lighten); }
  &.province.actionable.hover, {
    .l { fill: lighten($italy-color, $area-fill-lighten / 3); }
  }
}
[data-owner='Russia'] {
  &.sc, &.unit { fill: $russia-color; }
  & .l { fill: #eee; }
  &.province.actionable.hover, {
    .l { fill: $russia-color; }
  }
}
[data-owner='Turkey'] {
  &.sc, &.unit { fill: $turkey-color; }
  & .l { fill: lighten($turkey-color, $area-fill-lighten); }
  &.province.actionable.hover, {
    .l { fill: lighten($turkey-color, $area-fill-lighten / 3); }
  }
}

// #Provinces {
//   &.accepting g:hover, .accepting:hover {
//     .l {fill:#BADA55;}
//     .w {fill:#BAAADA;}
//   }
// }

// #SupplyCentersLayer .accepting .sc:hover   {fill:#BADA55;}
// #SupplyCentersLayer .sc.accepting:hover  {fill:#BADA55;}

// #SupplyCentersLayer .sc.selected {stroke-width:2;}

// #ForcesLayer.accepting .force:hover 	{stroke:gray}

// #OrdersLayer .order.move {fill:none; stroke:black; stroke-width:3; marker-end:url(#move)}
// #OrdersLayer .order.support {fill:none; stroke:green; stroke-width:3; marker-end:url(#support)}
// #OrdersLayer .order.convoy {fill:none; stroke:blue; stroke-width:3; marker-end:url(#convoy)}
// #OrdersLayer .order.hold {fill:none; stroke:black; stroke-width:3; marker-end:url(#hold)}
// #OrdersLayer .order.fail {marker-mid:url(#fail)}

// #OrdersLayer .Austria .force 	{ fill: $austria-color; stroke:black; opacity:.5; }
// #OrdersLayer .England .force 	{ fill: $england-color; stroke:black; opacity:.5; }
// #OrdersLayer .France .force  	{ fill: $france-color; stroke:black; opacity:.5; }
// #OrdersLayer .Germany .force 	{ fill: $germany-color; stroke:black; opacity:.5; }
// #OrdersLayer .Italy .force   	{ fill: $italy-color; stroke:black; opacity:.5; }
// #OrdersLayer .Russia .force  	{ fill: $russia-color; stroke:black; opacity:.5; }
// #OrdersLayer .Turkey .force  	{ fill: $turkey-color; stroke:black; opacity:.5; }

// .message.Austria    { color: $austria-color }
// .message.England    { color: $england-color; }
// .message.France     { color: $france-color; }
// .message.Germany    { color: $germany-color; }
// .message.Italy      { color: $italy-color; }
// .message.Russia     { color: $russia-color; }
// .message.Turkey     { color: $turkey-color; }

