<div class="popout-blanket"></div>
<div class="orders-popout">
  <ul>
    {{#each orderClasses}}
      <li class="order-type" data-order-type="{{this.type}}">{{this.displayName}}</li>
    {{/each}}
  </ul>
</div>
