<div id="header">
  <span class="current-phase">{{season}} {{year}}, {{phase}}</span>
  <select class="country-selector">
    {{#each countries}}
    <option>{{this}}</option>
    {{/each}}
  </select>
</div>
